
body {
  background: #FFE873;
  font-family: Arial;
}

h1 {
  font-family: Corbel;
  text-align: center;
}

/* table */

#buttons, #preview {
  width: 38vw;
  border: 3px solid black;
  color: black;
}

/* buttons */

.btn {
  padding: 14px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.btn-module {
  background: #FFE873;
}
