
body {
  background: #FFE873;
  font-family: Arial;
}

h1 {
  font-family: Corbel;
  text-align: center;
}

/* table */

table {
  margin: auto;
}

td {
  vertical-align: top;
}

#buttons, #preview {
  width: 38vw;
  border: 3px solid black;
  color: black;
}

#buttons {
  background: LightBlue;
  padding: 10px;  
}

#preview {
  height: 70vh;
  border-radius: 7px;
  background: rgb(150, 150, 150);
}

#textbox {
  position: fixed;
  padding-left: 5vw;
}

#empty {
  width: 45vw;
}

/* buttons */

input {
  padding: 2px 3px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.btn {
  padding: 14px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.btn-module {
  background: #FFE873;
}

.btn-success {
  background: #5cb85c;
  border-color: green;
}

.btn-success:hover {
  background: #449d44;
  border-color: #398439;
}
