
h1 {
  font-family: Corbel;
  text-align: center;
}

/* buttons */

.btn {
  padding: 14px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.btn-module {
  background: #FFE873;
}
